<form {{action login on="submit"}}>
    {{view Ember.TextField valueBinding="loginOrEmail" placeholder="Login or Email"}}
    {{view Ember.TextField valueBinding="password" type="password" placeholder="Password"}}
    <button class="btn">Login</button>
</form>