<form class="form-signin" {{action "login" on="submit"}}>
    <h2 class="form-signin-heading">Please sign in</h2>
    {{input placeholder="Username" autofocus="true" class="form-control" value=email}}
    {{input placeholder="Password" type="password" class="form-control" value=password}}
    <label class="checkbox">
        {{input type="checkbox" checked=remember}}Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>