<div class="col-md-6 col-md-offset-3">
    <h3 class="text-center">Are you sure you want to log out?</h3>

    <div class="centered col-md-6 col-md-offset-3">
        <button class="btn btn-lg btn-primary" {{action 'cancel_logout'}}>No</button>
        <button class="btn btn-lg" {{action 'logout'}}>Yes</button>
    </div>

</div>