<!DOCTYPE html>
<html>
<head>
  <title>PepperShaker</title>
  <%= analytics_init if Rails.env.production? %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>
<body>
<%= javascript_include_tag 'application' %>
</body>
</html>
